Makefile
boiler.txt
addboiler.sh
*.pro.user
*.o
*.moc.cpp
*.moc.cc
moc_*.cpp
*.tar.gz
autom4te.cache
config.h
config.h.in~
config.log
config.status
*.deps
stamp-h1

binaries/Windows/p4_windows_*
binaries/Linux/deb
binaries/Linux/tarballs/p4_linux_*
binaries/Linux/everything.sh
binaries/Linux/p4-*

src-gui/build-*
src-gui/p4/p4
src-gui/lyapunov/lyapunov
src-gui/separatrice/separatrice

