Makefile
boiler.txt
addboiler.sh
*.pro.user
*.o
*.moc.cpp
*.moc.cc
moc_*.cpp
*.tar.gz

binaries/Windows/p4_windows_*
binaries/Linux/deb
binaries/Linux/tarballs/p4_linux_*
binaries/Linux/everything.sh
binaries/Linux/p4-*

src-gui/build-*
src-gui/p4/p4
src-gui/lyapunov/lyapunov
src-gui/separatrice/separatrice

src-mpl/mplstrip/mplstrip
src-mpl/mplstrip/texput.log

build
