boiler.txt
addboiler.sh
binaries/Windows/p4_windows_*
binaries/Linux/deb/p4_*
binaries/Linux/tarballs/p4_linux_*
src-gui/build-*
*.pro.user
*.o
*.moc.cpp
moc_*.cpp
src-gui/p4/p4
src-gui/lyapunov/lyapunov
src-gui/separatrice/separatrice
